{
  "version": 1,
  "minor_version": 1,
  "key": "auth_provider.homeassistant",
  "data": {
    "users": [
      {
        "username": "{{ homeassistant_login_user }}",
        "password": "{{ homeassistant_login_password_hash }}"
      }
    ]
  }
}