# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

{% if inventory_hostname in ['rpi03','rpi04'] %}
http:
  ssl_certificate: /etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.crt
  ssl_key: /etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.key
{% endif %}

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
