{
  "version": 1,
  "minor_version": 3,
  "key": "core.config_entries",
  "data": {
    "entries": [
      {
        "entry_id": "1a5535dbb77d6cc0352c9e0de5f47a1d",
        "version": 1,
        "domain": "sun",
        "title": "Sun",
        "data": {},
        "options": {},
        "pref_disable_new_entities": false,
        "pref_disable_polling": false,
        "source": "import",
        "unique_id": null,
        "disabled_by": null,
        "minor_version": 1,
        "created_at": "1970-01-01T00:00:00+00:00",
        "modified_at": "1970-01-01T00:00:00+00:00"
      },
      {
        "entry_id": "3a7d3350b87a45e6a00e3d1a5b346493",
        "version": 1,
        "domain": "mqtt",
        "title": "{{ homeassistant_mqtt_broker }}",
        "data": {
          "broker": "{{ homeassistant_mqtt_broker }}",
          "port": 1883,
          "password": "{{ homeassistant_mqtt_password }}",
          "username": "{{ homeassistant_mqtt_user }}",
          "discovery": true
        },
        "options": {},
        "pref_disable_new_entities": false,
        "pref_disable_polling": false,
        "source": "user",
        "unique_id": null,
        "disabled_by": null,
        "minor_version": 1,
        "created_at": "1970-01-01T00:00:00+00:00",
        "modified_at": "1970-01-01T00:00:00+00:00"
      }
    ]
  }
}
