[Install]
WantedBy=default.target

[Container]
Image=docker.io/homeassistant/home-assistant:latest
ContainerName=homeassistant
Pod=homeautomation.pod
Volume=homeassistant-storage:/config:z
{% if inventory_hostname in ['rpi03','rpi04'] %}
Volume=/etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.crt:/etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.crt:z
Volume=/etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.key:/etc/ssl/{{ inventory_hostname }}.pamperspoil.com/{{ inventory_hostname }}.pamperspoil.com.key:z
{% endif %}
AutoUpdate=registry

[Service]
TimeoutStartSec=180
