homeassistant: true
frontend: true
permit_join: false
mqtt:
  user: {{ zigbee2mqtt_mqtt_user }}
  password: {{ zigbee2mqtt_mqtt_password }}
  base_topic: zigbee2mqtt
  server: mqtt://{{ zigbee2mqtt_mqtt_broker }}
# WIP
# z2m: Error: USB adapter discovery error (No valid USB adapter found). Specify valid 'adapter' and 'port' in your configuration.
#
serial:
  port: /dev/ttyUSB0
advanced:
  pan_id: {{ zigbee2mqtt_pan_id }}
  network_key:
{% for element in zigbee2mqtt_network_key | list %}
    - {{ element }}
{% endfor %}
  homeassistant_legacy_entity_attributes: false
  legacy_api: false
  legacy_availability_payload: false
device_options:
  legacy: false
devices:
  '0x5c0272fffe84ac5b':
    friendly_name: Valve
  '0xb4e3f9fffe66e51b':
    friendly_name: Aux
    description: Rpi01
  '0x84ba20fffe7abea1':
    friendly_name: Shortcut Button
  '0x84b4dbfffec3cb5b':
    friendly_name: switch04
    description: Rpi02 Power
  '0x00124b00292083f2':
    friendly_name: sensor01-office
    description: ''
  '0x00124b0029200ea5':
    friendly_name: sensor02-nelio
    description: ''
  '0x00124b00250b9512':
    friendly_name: sensor03
    description: linus und janis
  '0x00124b0029200bff':
    friendly_name: sensor05-esstisch
    description: ''
  '0x00124b0029223273':
    friendly_name: sensor04-schlafzimmer
    description: ''
  '0x385b44fffe19a723':
    friendly_name: switch06
  '0x385b44fffe2b504f':
    friendly_name: switch05-pump
    description: Pump Replacement
  '0x00124b0025581e22':
    friendly_name: sensor06-shower
    description: ''
  '0x00124b00252be35d':
    friendly_name: sensor07-watering
